#INICIAMOS PARAMETROS PARA QUE NO SE MUESTRE LA EXTENSION .HTML O .PHP
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#INDICAMOS QUE TODAS LAS URL'S TERMINEN CON SLASH
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]
#Impedir que se pueda acceder a archivos con contenidos sensibles
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
Order allow,deny
Deny from all
Satisfy All
</FilesMatch>

#INICIAMOS DATOS DONDE INDICAMOS QUE SE GUARDEN IMAGENES EN CACHE

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault A3600
<filesmatch ".(jpg|JPG|gif|GIF|png|css|ico|js)$">
ExpiresDefault "access plus 7 day"
</filesmatch>
</ifmodule>

#FINALIZAMOS PARAMETROS PARA QUE NO SE MUESTRE LA EXTENSION .HTML O .PHP

#FINALIZAMOS DATOS DONDE INDICAMOS QUE SE GUARDEN IMAGENES EN CACHE

#INICIAMOS DATOS DONDE INDICAMOS LOS ARCHIVOS QUE DESEAMOS QUE SE GUARDEN EN CACHE Y POR CUANTO TIEMPO

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault A3600
<FilesMatch ".(gif|jpg|jpeg|png|swf)$">
# 2 weeks
ExpiresDefault A604800
Header append Cache-Control "public"
</FilesMatch>
<FilesMatch ".(xml|txt|html)$">
# 2 hours
ExpiresDefault A604800
Header append Cache-Control "public"
</FilesMatch>
<FilesMatch ".(js|css)$">
# 3 days
ExpiresDefault A604800
Header append Cache-Control "public"
</FilesMatch>
</ifmodule>

#FINALIZAMOS DATOS DONDE INDICAMOS LOS ARCHIVOS QUE DESEAMOS QUE SE GUARDEN EN CACHE Y POR CUANTO TIEMPO

#INDICAMOS QUE SE ACEPTE LA CODIFICACION EN EL HEADER

<IfModule mod_headers.c>

<FilesMatch ".(js|css|xml|gz|html)$">
Header append Vary: Accept-Encoding

</FilesMatch>
</IfModule>

#INDICAMOS QUE SE ACEPTE LA CODIFICACION EN EL HEADER

#PAGINA DE ERROR 404 PERSONALIZADA
ErrorDocument 404 /404.php

#PAGINA DE ERROR 404 PERSONALIZADA
#PAGINA DE ERROR 500 PERSONALIZADA

ErrorDocument 500 /500.php

#PAGINA DE ERROR 500 PERSONALIZADA

#COMPRIMIR CONTENIDO

<IfModule mod_deflate.c>

# Forzar compresión también para las cabeceras malformadas

<IfModule mod_setenvif.c>
<IfModule mod_headers.c>
SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
</IfModule>
</IfModule>

# Comprimir los contenidos que sean de cualquiera de estos tipos
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE application/atom+xml \
application/javascript \
application/json \
application/rss+xml \
application/vnd.ms-fontobject \
application/x-font-ttf \
application/x-web-app-manifest+json \
application/xhtml+xml \
application/xml \
font/opentype \
image/svg+xml \
image/x-icon \
text/css \
text/html \
text/plain \
text/x-component \
text/xml
</IfModule>

</IfModule>
